* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    /* outline: 1px dashed red; */
}

.container {
    display: flex;
    margin: .5em;
    align-items: flex-start;
}

.selected-pokemon {
    margin: .5em;
    padding: .5em;
    padding-bottom: 2em;
    border: 25px solid red;
    border-bottom: 50px solid red;
}

h1 {
    margin: .5em;
}

h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul li {
    margin-left: 2em;
}